body.modal-open
  margin: 0

.stage > div
  width: 100%

.stage > *:not(.active)
  display: none

.clear
  clear: both

.table.table-bordered > thead > tr > th
  border-bottom-width: 3px 

.space
  width: 5px
  display: inline-block

.nopadding
  padding: 0 !important

.page-header
  margin-top: 23px

.panel-heading
  span.fa
    margin-right: 3px

.input-group-addon
  cursor: pointer

.dropdown-toggle
  cursor: pointer
  white-space: nowrap

.dropdown
  white-space: pre

a
  color: #515151
  &:hover
    color: #756060


#page-wrapper.stage
  overflow: auto
  min-height: 600px

.navbar-brand
  sup
    padding-left: 3px
    font-size: 9px
    vertical-align: top
  span
    font-size: smaller
    color: #aaa

.sidebar-space
  height: 20px

.sidebar-collapse
  ul.nav
    margin-bottom: 5px

  .utilities
    a
      span
        margin-right: 5px
    
  h5
    padding: 4px 10px 6px
    margin-bottom: 4px
    color: #aaa

  li
    &:hover
      background-color: #eee

    a.record
      display: inline-block
      width: 80%
      span
        margin-right: 5px
      .label
        margin-left: 0.8em
        background-color: #ccc
    a.schema
      float: right
      display: inline-block
      cursor: pointer
      span
        margin-left: 4px
        
h6
  padding-bottom: 10px
  margin-bottom: 4px
  color: #999
  
ul.sub
  list-style: none

.schema

  .modal-body
    font-family: monospace
    white-space: pre

  code
    background-color: transparent

  p
    span
      font-weight: bold
    code
      margin-left: 4px
      color: #666
      &.function
        cursor: pointer

  .task-progress
    .panel-body
      min-height: 50px

    .report
      margin-bottom: 10px
      .label
        margin-right: 5px
      .title
        color: #666
        margin-left: 30px
        margin-right: 8px

    .progress
      height: 20px
      border-radius: 0
      .progress-bar
        span
          line-height: 20px
          font-weight: bold

    &.paused
      color: #999
      .progress-bar
        background: #ccc

    .task-control
      vertical-align: middle

    .btn
      border: 0
      padding: 4px 8px
      line-height: 1  
      color: #666
      &:hover
        background-color: transparent
        color: #333

  .actions
    .action
      span.fa
        margin-right: 3px
      .progress
        height: 5px
        margin-top: -6px
        margin-bottom: 0
        border-radius: 0
      .txt
        overflow: hidden
        text-overflow: ellipsis
        width: 100%

    .caret
      margin-left: 3px

  .properties
  
    .type
      code
        font-weight: bold
        color: #333
        font-family: monospace
      span
        vertical-align: middle
      .function
        cursor: pointer

    .index
      .fa-bolt
        color: #CA437B
      .fa-check
        color: green
      .fa-times
        color: gray

    .default_value
      font-family: monospace
      code
        color: #666
      .function
        cursor: pointer
      .grey
        color: #bbb

.record.container
  .page-header
    .title
      margin-right: 4px
    button
      border: none

  .modal
    .modal-header
      h4
        text-transform: uppercase

    .content
      font-family: monospace
      word-wrap: break-word
      white-space: pre
      color: #C72549

  .tables
    position:relative

    .table-responsive

      width: 100%

      table

        th
          background-color: #fafafa

        tr
          height: 20px

          &:hover
            td.record-id
              background-color: #fafafa
            td.record-id-none
              background-color: #fafafa
            td
              background-color: #FEF1E0

        td
          max-width: 250px
          overflow-x: hidden
          text-overflow: ellipsis

          &.record-id
            background-color: #fafafa

          &.record-id-none
            background-color: #fafafa

          /*
          &.function
            background: #EDDE45

          &.timestamp
            background: #EDE5E2
          */

      .table-records
        display: inline-block
        width: 100%
        overflow-x: scroll
        float: left

        table
          border-left: 0

        td
          white-space: pre

        tr.selected
          td
            background-color: #d7e8ff
            color: #333

      .table-ids
        display: inline-block
        min-width: 35px
        max-width: 150px
        float: left

        tr
          td
            text-align: center
            font-weight: bold
            cursor: pointer

            &.selected
              background-color: #6e6e6e !important
              color: #e6e6e6



  .actions
    float: left
    button 
      margin: 3px 0px 12px 0px
      .fa
        margin-right: 3px

.table

  td.field-name
    line-height: 2.6
    font-weight: bold
    max-width: 250px
    text-transform: uppercase
    text-align: right

  td.field-value
    line-height: 2.6
    word-wrap: break-word
    pre
      margin-bottom: 2px
      max-width: 600px
    i
      color: #999

form
  .field-name
    text-transform: uppercase
    text-align: right
    vertical-align: baseline
    line-height: 35px
    color: #666
    &.control-label
      padding-top: 0

  .radio-inline
    padding-left: 29px
    line-height: 1.6
    vertical-align: baseline

    input[type="radio"]
      margin-left: -18px

.dashboard.container
  .panel
    .panel-heading
      font-weight: bold
    .field-name
      text-transform: capitalize
      text-align: right
    table
      tr td:last-child
        max-width: 400px
        word-wrap: break-word
        font-family: monospace
      
.node-selection
  margin-bottom: 16px

.datepicker
  z-index: 10000 !important

.modal.action
  .alert
    &.alert-danger
      color: #fff
      background-color: #ff4136
      border-color: #ff1103
      border-width: 0 1px 4px 1px
      strong
        text-transform: capitalize

.caution
  font-weight: bold
  text-align: center
  font-size: 18px
  color: #333
  text-transform: uppercase

.flash
  position: absolute
  top: 40px
  width: 26%
  left: 37%
  z-index: 1000

