.key_finder.container
  .row
    .col-lg-12
      h1.page-header
        | Key Finder
  
  .row
    .col-lg-12
      .well
        form
          .form-group
            .input-group
              input.form-control(type="text" name="key" placeholder="Key" autocomplete="off")
              .input-group-addon
                span.fa.fa-search
          .form-group
            button.btn.btn-warning(type="submit") Find

        .result
          
            



      
