.record.container

  .row
    .col-lg-12
      h2.page-header
        span.title
        button.btn.btn-default.reload(type="button")
          span.fa.fa-refresh
      
  
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading  &nbsp;
        .panel-body.tables
          .actions
            button.btn.btn-default.view(type="button")
              span.fa.fa-eye
              | Detail
            .space
            button.btn.btn-default.edit(type="button")
              span.fa.fa-edit
              | Edit
          .actions.pull-right
            button.btn.btn-default.delete(type="button")
              span.fa.fa-times
              | Delete
          .clear
          .table-responsive
            .table-ids
              table.table.table-bordered
                thead
                tbody
            .table-records
              table.table.table-bordered
                thead.header
                tbody
          .actions
            button.btn.btn-default.add(type="button")
              span.fa.fa-plus-circle
              | New
            .space
            button.btn.btn-default.view(type="button")
              span.fa.fa-eye
              | Detail
            .space
            button.btn.btn-default.edit(type="button")
              span.fa.fa-edit
              | Edit
          .actions.pull-right
            button.btn.btn-default.delete(type="button")
              span.fa.fa-times
              | Delete
          .clear

          .pagination
          .clear
                  

  .modal.fade.detail
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          h4.modal-title
        .modal-body
          .well
            .content
        .modal-footer

  .modal.fade.action
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
          h4.modal-title
        .modal-body
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Cancel
          .space
          button.btn.btn-primary(type="button") Submit
