.navbar-default.navbar-static-side

  .sidebar-space

  .sidebar-collapse
    h5 Utilities
    ul.utilities#side-menu.nav
      li
        a(href="#/finder")
          span.fa.fa-key
          | Finder
      li
        a(href="#/loader")
          span.fa.fa-sitemap
          | Collection Loader

  .sidebar-space

  .sidebar-collapse
    h5 Models
    ul.model-list.nav

  .sidebar-space

  .sidebar-collapse.collection-list
    h5 Collections



